.sidebarOption {
	color: grey;
	height: 40px;
	align-items: center;
	display: flex;
	cursor: pointer;
	transition: color 200ms ease-in;
}

.sidebarOption:hover {
	color: #ffffff;
}

.sidebarOption > p {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 14px;
}

.sidebarOption__icon {
	padding: 0 10px;
}
